<div data-controller="toggle">

  <div class="sidebar">
    <button id="posted" class="active" data-action="click->toggle#displayPosted" data-toggle-target="postedButton">Posted bikes</button>
    <button id="purchased" data-action="click->toggle#displayPurchased" data-toggle-target="purchasedButton">Purchased bikes</button>
  </div>

  <section class="section-purchase">
    <div class="cards p-1" data-toggle-target="postedBikes">
      <%= render "posted", bikes: @bikes%>
    </div>
  
    <div class="cards p-1 d-none" data-toggle-target="purchasedBikes">
      <%= render "purchased", bikes_purchased: @bikes_purchased%>
    </div>
  </section>
</div>
