<div data-controller="toggle">

  <div class="sidebar" data-toggle-target="displayedBikes">
    <button id="posted" class="active" data-action="click->toggle#display">Posted bikes</button>
    <button id="purchased" data-action="click->toggle#display">Purchased bikes</button>
  </div>

  <div class="cards p-1">
    <%= render "posted", bikes: @bikes%>
  </div>

</div>
