@import "button";

$button-fill-color: #AD2831;

.navbar-habike {
  justify-content: space-around;
  background: white;
  border-color: 1px solid $button-fill-color;
  box-shadow: 2px 2px 2px 1px #0000003b;
}
.navbar-habike .navbar-collapse {
  flex-grow: 0;
}

.navbar-habike .navbar-brand img {
}
.logo__img {
  border-radius: 1rem;
  width: 50px;
}
