@import "button";

$secondary-color: #38040E;

.navbar-habike {
  justify-content: space-around;
  background: white;
  border-bottom: 1px solid $secondary-color;
}
.navbar-habike .navbar-collapse {
  flex-grow: 0;
}

.navbar-habike .navbar-brand img {
}
.logo__img {
  width: 50px;
}
