$base-color: #250902;
$secondary-color: #38040E;
$border-color-primary: #800E13;
$border-color-secondary: #640D14;
$button-fill-color: #AD2831;

.title-img-new {
  color: white;
  text-shadow: 1px 1px 3px #AD2831;
  font-size: 32px;
  font-weight: bold;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90.9vh;
  flex-direction: column;
  background-image: url(asset-path('moto_taller.jpeg'));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container-img {
  flex: 1;
}

.simple_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 80%;
}

.new-container {
  opacity: 0.9;
}

#view-form {
  width: 100%;
  padding: 20px;
}

#view-form label {
  color: #250902;
  font-size: larger;
  font-weight: 600;
}

#view-form input:focus,
#view-form select:focus,
#view-form textarea:focus {
  border: 2px solid $border-color-secondary;
}

.create-button {
  border: 3px solid $border-color-primary;
  background-color: $border-color-primary;
  box-shadow: none !important;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-width: 120px;
  transition: 300ms ease all;
  &:hover {
    background-color: $button-fill-color;
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.0);
  }
}

.create-button {
  text-align: center;
  margin-right: 1rem;
}

.cancel-button {
  min-width: 120px;
  border: 3px solid #f18c07bc;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 300ms ease all;
  color: black;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
    background-color: #f18c07bc;
    color: white;
  }
  &:active {
    transform: scale(1.0);
  }
}

.cancel-button {
  text-align: center;
  margin-right: 1rem;
}

.form-control-photo {
  margin-top: 0.9rem;
}

@media (max-width: 768px) {
  .new-container h1 {
    font-size: 1.5rem;
  }
}
