// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "pages/login";
@import "pages/singup";
@import "components/linksSingLogin";
@import "pages/showbike";

$base-color: #250902;
$secondary-color: #38040E;
$border-color-primary: #800E13;
$border-color-secondary: #640D14;
$button-fill-color: #AD2831;

@import "components/new_form";
@import "components/purchase";
